<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Science & Tech News From Space.com!</h1>
  </div>
</div>


<ul>
  {{#each articles}}
      <a href="{{link}}" target="_blank"><h3>{{title}}</h3></a>
      {{!-- <h3>{{title}}</h3>
      <h3>{{link}}</h3> --}}
      <h4>{{summary}}</h4>
      <button type="submit" data-id="{{_id}}">save</button>
      <hr>
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

{{!-- <ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
