<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand font-weight-bold" href="/">Home-Space.com-Scrape</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/saved"> Saved Articles <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/scrape"> New Scrape </a>
      <a class="nav-item nav-link" href="/articles"> Articles API </a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="text-white container text-center">
    <h1 class="display-4 font-weight-bold">Science & Tech News From Space.com!</h1>
      <br>
    <h3>Save An Article or Attach Notes To An Article</h3>

  </div>
</div>

<div id="article">
<ul>
  {{#each articles}}
      {{#unless saved}}
      <img src="{{image}}" class="article-image" "alt="article picture">
      <a href="{{link}}" target="_blank"><h3>{{title}}</h3></a>
      <h4>{{summary}}</h4>
      <button id="save-article" class="btn btn-primary btn-lg" type="click" data-id="{{_id}}">Save Article</button>
      <button id="add-note" type="submit" data-id="{{_id}}" class="btn btn-secondary btn-lg">Add Note</button>
      <hr>
       {{/unless}}
  {{/each}}
</ul>
</div>

<div id="notes"></div>